<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UsuarioController</servlet-name>
        <servlet-class>Controller.UsuarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarritoController</servlet-name>
        <servlet-class>Controller.CarritoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersonaController</servlet-name>
        <servlet-class>Controller.PersonaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductoController</servlet-name>
        <servlet-class>Controller.ProductoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Header</servlet-name>
        <jsp-file>/views/gral/header.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Pie</servlet-name>
        <jsp-file>/views/gral/piedepagina.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <jsp-file>//localhost/Website/views/index/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>PedidoController</servlet-name>
        <servlet-class>Controller.PedidoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DiscosController</servlet-name>
        <servlet-class>Controller.DiscosController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancionesController</servlet-name>
        <servlet-class>Controller.CancionesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PedidosCancionesController</servlet-name>
        <servlet-class>Controller.PedidosCancionesController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsuarioController</servlet-name>
        <url-pattern>/usuario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarritoController</servlet-name>
        <url-pattern>/carrito.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersonaController</servlet-name>
        <url-pattern>/persona.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductoController</servlet-name>
        <url-pattern>/producto.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Header</servlet-name>
        <url-pattern>/header</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pie</servlet-name>
        <url-pattern>/pie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PedidoController</servlet-name>
        <url-pattern>/pedidos.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DiscosController</servlet-name>
        <url-pattern>/discos.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancionesController</servlet-name>
        <url-pattern>/canciones.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PedidosCancionesController</servlet-name>
        <url-pattern>/pedidoscanciones.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
