<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>UsuarioController</servlet-name>
        <servlet-class>Controller.UsuarioController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsuarioController</servlet-name>
        <url-pattern>/usuario.do</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>PersonaController</servlet-name>
        <servlet-class>Controller.PersonaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PersonaController</servlet-name>
        <url-pattern>/persona.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Header</servlet-name>
        <jsp-file>/views/gral/header.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Header</servlet-name>
        <url-pattern>/header</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Pie</servlet-name>
        <jsp-file>/views/gral/piedepagina.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Pie</servlet-name>
        <url-pattern>/pie</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PedidoController</servlet-name>
        <servlet-class>Controller.PedidoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PedidoController</servlet-name>
        <url-pattern>/pedidos.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DiscosController</servlet-name>
        <servlet-class>Controller.DiscosController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DiscosController</servlet-name>
        <url-pattern>/discos.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CancionesController</servlet-name>
        <servlet-class>Controller.CancionesController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CancionesController</servlet-name>
        <url-pattern>/canciones.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PedidosCancionesController</servlet-name>
        <servlet-class>Controller.PedidosCancionesController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PedidosCancionesController</servlet-name>
        <url-pattern>/pedidoscanciones.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>uAltaController</servlet-name>
        <servlet-class>Controller.Usuario.uAltaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>uAltaController</servlet-name>
        <url-pattern>/uAlta.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>uLoginController</servlet-name>
        <servlet-class>Controller.Usuario.uLoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>uLoginController</servlet-name>
        <url-pattern>/uLogin.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>uModificarController</servlet-name>
        <servlet-class>Controller.Usuario.uModificarController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>uModificarController</servlet-name>
        <url-pattern>/uModificar.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>uLogoutController</servlet-name>
        <servlet-class>Controller.Usuario.uLogoutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>uLogoutController</servlet-name>
        <url-pattern>/uLogout.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>cpAltaController</servlet-name>
        <servlet-class>Controller.PedidosCanciones.cpAltaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cpAltaController</servlet-name>
        <url-pattern>/cpAlta.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>cpBajaController</servlet-name>
        <servlet-class>Controller.PedidosCanciones.cpBajaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cpBajaController</servlet-name>
        <url-pattern>/cpBaja.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>cpModificarController</servlet-name>
        <servlet-class>Controller.PedidosCanciones.cpModificarController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cpModificarController</servlet-name>
        <url-pattern>/cpModificar.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>pAltaController</servlet-name>
        <servlet-class>Controller.Pedidos.pAltaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>pAltaController</servlet-name>
        <url-pattern>/pAlta.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>pBajaController</servlet-name>
        <servlet-class>Controller.Pedidos.pBajaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>pBajaController</servlet-name>
        <url-pattern>/pBaja.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>pModificarController</servlet-name>
        <servlet-class>Controller.Pedidos.pModificarController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>pModificarController</servlet-name>
        <url-pattern>/pModificar.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>dAltaController</servlet-name>
        <servlet-class>Controller.Discos.dAltaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dAltaController</servlet-name>
        <url-pattern>/dAlta.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>dBajaController</servlet-name>
        <servlet-class>Controller.Discos.dBajaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dBajaController</servlet-name>
        <url-pattern>/dBaja.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>dModificarController</servlet-name>
        <servlet-class>Controller.Discos.dModificarController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dModificarController</servlet-name>
        <url-pattern>/dModificar.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>cAltaController</servlet-name>
        <servlet-class>Controller.Canciones.cAltaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cAltaController</servlet-name>
        <url-pattern>/cAlta.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>cBajaController</servlet-name>
        <servlet-class>Controller.Canciones.cBajaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cBajaController</servlet-name>
        <url-pattern>/cBaja.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>cModificarController</servlet-name>
        <servlet-class>Controller.Canciones.cModificarController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cModificarController</servlet-name>
        <url-pattern>/cModificar.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>uOlvideController</servlet-name>
        <servlet-class>Controller.Usuario.uOlvideController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>uOlvideController</servlet-name>
        <url-pattern>/uOlvide.do</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>cAddController</servlet-name>
        <servlet-class>Controller.Carrito.cAddController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cAddController</servlet-name>
        <url-pattern>/cAdd.do</url-pattern>
    </servlet-mapping>
    
    <!--
    <servlet>
        <servlet-name>Home</servlet-name>
        <jsp-file></jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    -->
   
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
