.img2
{
   width: 200px; height: 200px;
   float: right;
   
    border-radius: 51px 0px 58px 0px;
    -moz-border-radius: 51px 0px 58px 0px;
    -webkit-border-radius: 51px 0px 58px 0px;
    border: 5px solid #204d74;  

}

.footer {
 margin-right:-15px;margin-left:-15px;
    width: 100%;
    height: 81px;
    position: fixed;
    bottom: 0;
    left: 0;
}
